# Git
.git

# Logs
logs
*.log

# Built files
node_modules
dist
dist-ssr
build
build-ssr

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
