@keyframes foamWave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000px);
  }
}

.foamWave {
  background-image: url("/images/wave.svg");
  background-repeat: repeat-x;
  width: 6000px; /* Adjusted to ensure the wave does not show the end */
  height: 124px; /* Adjusted height */
  animation: foamWave 4s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}
