/* shared.css */
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --text-color: #333;
  --background-color: #dbdbdb;
  --link-color: var(--primary-color);
  --link-hover-color: maroon;
  --button-background: #1a1a1a;
  --button-border: #646cff;
  --button-hover-border: #646cff;
  --canvas-width: max-content;
}
/* TODO: Fix all of these colors*/
.dark {
  --primary-color: ##cb6724;
  --secondary-color: #d1338e;
  --text-color: ##cccccc;
  --background-color: #242424;
  --link-color: var(--primary-color);
  --link-hover-color: maroon;
  --button-background: ##e5e5e5;
  --button-border: ##9b9300;
  --button-hover-border: ##9b9300;
}
